#content {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    background: #00bbff;
}

#content .coffeeOrderList {
    width: 100%;
}

#content .coffeeOrderList tr td {
    width: 33%;
    background: #fff;
}