.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.order {
    padding: 15px;
}

.order h2[id*="title"] {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    width: 200px;
}

input {
    width: auto;
    margin-right: 10px;
}
